<!DOCTYPE html>
<html>
  <head>
    <title>Everyman's Cognitive Toolkit</title>
    <meta charset="utf-8" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  </head>

  <body ng-app="cognitoolkit">
    <div class="main">
      <div class="container">
        <h1>Everyman's Cognitive Toolkit</h1>
        <h2>Inspired by Gabriel Weinberg's article about cognitive models</h2>
        <p>Do you need to land an idea? We have the right tool for you. Check over 150 cognitive models people have used over centuries 
          <br>  organized by topics and frequency of use. We hope you get inspired!</p>
        <a id="jumpTo" class="btn">Go to Toolkit</a>
      </div>
    </div>
    <br>
    <br>
    <div class="primeraseccion container">
      <div class="col-md-6 conteimg">
        <img src="instructions.png" />
      </div>
      <div class="col-md-6 third">
        <h1>Instructions</h1>
        <h2>Use the filters to navigate between the different models. Use the find out more button to access extra information about each model.</h2>
      </div>
    </div>

    <br><br>

    <div class="container">
      <div class="col-md-6 second">
        <h1>Topics</h1>
        <h2>Organize the models according to common subjects of use.</h2>
      </div>
      <div class="container col-md-6 conteimg">
        <img class="imagenmedio" src="themes.png" />
      </div>
    </div>

    <br>
    <br>

    <div class="container">
      <div class="col-md-6 conteimg">
        <img src="use.png" />
      </div>
      <div class="col-md-6 third">
        <h1>Frequency of use</h1>
        <h2>Organize the models by the ammount of use in real life according to Gabriel Weinberg, Founder & CEO of DuckDuckGo</h2>
      </div>
    </div>

    <br>
    <br>

    <section id="searchSection" class="container" ng-controller="ModelsCtrl as $ctrl">
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder=""
                   ng-model="$ctrl.searchQuery"
                   ng-change="$ctrl.search()">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
      <div class="row">
        <h4 class="col-sm-2">Topics:</h4>
        <div class="dropdown col-sm-2">
          <select ng-model="$ctrl.currentTopic"
                  ng-options="topic as topic for topic in $ctrl.topics">
            Choose a search topic
          </select>
          <ul class="dropdown-menu">
            <li><a href="#">Strategy</a></li>
            <li><a href="#">Military</a></li>
            <li><a href="#">Business</a></li>
          </ul>
        </div>
        <h6 class="col-sm-2">Frequency of use</h6>
        <div class="col-sm-6">
          <label class="checkbox-inline col-sm-2">
            <input type="checkbox" ng-model="$ctrl.frequencyFilter.high">High</label>
          <label class="checkbox-inline col-sm-2">
            <input type="checkbox" ng-model="$ctrl.frequencyFilter.medium">Medium</label>
          <label class="checkbox-inline col-sm-2">
            <input type="checkbox" ng-model="$ctrl.frequencyFilter.low">Low</label>
        </div>
      </div>

      <div class="card-columns">
        <div class="card card-block model" ng-repeat="model in $ctrl.models"
           ng-show="$ctrl.shouldShow(model) && !model.hide">
            <h4 class="card-title">{{ model.nombre }}</h4>
            <p class="card-text">{{ model.descripcion }}</p>
          <a href="{{ model.enlace }}" target="_blank"><button type="button" class="btn btn-default">Find out more</button></a>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/controllers.js"></script>

    <footer>
      &copy; Brought to you by Software & Sons
    </footer>
  </body>
</html>
